<app-alert-danger [error]="error" *ngIf="error"></app-alert-danger>
<app-alert-success [success]="success" *ngIf="success"></app-alert-success>
<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-3">
                <form [formGroup]="rp" (ngSubmit)="onSubmit()" class="billing-form">
                    <div class="col-md-12">
                        <h1>Reset Password</h1>
                    </div>
                    <div class="col-xl-12 align-items-end">
                        <div class="form-group">
                            <label for="emailaddress">Email Address</label>
                            <input type="email" class="form-control" formControlName="emailAddress" disabled>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="newPassword">Set New Password</label>
                            <input type="password" class="form-control" formControlName="password" required
                                (keyup)="getPassword(p.value)" #p>
                            <span class="text-danger" *ngFor="let validation of ValidationMessages.password">
                                <span class="text-danger"
                                    *ngIf="rp.get('password').hasError(validation.type) && (rp.get('password').dirty || rp.get('password').touched)">
                                    {{validation.message}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="streetaddress">Confirm New Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" required>
                            <span class="text-danger" *ngFor="let validation of ValidationMessages.confirmPassword">
                                <span class="text-danger"
                                    *ngIf="rp.get('confirmPassword').hasError(validation.type) && (rp.get('confirmPassword').dirty || rp.get('confirmPassword').touched)">
                                    {{validation.message}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-xl-12 align-items-center">
                        <div class="form-group">
                            <button type="submit" [disabled]="!rp.valid" class="btn btn-md btn-primary"
                                [disabled]="!rp.valid">Submit</button>
                        </div>
                    </div>
                </form><!-- END -->
            </div>
        </div>
    </div>
</section> <!-- .section -->