<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            <a class="nav-link" routerLink="/admin/dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="categories">
                <i class="mdi mdi-tab menu-icon"></i>
                <span class="menu-title">Categories</span>
                <!-- <i class="menu-arrow"></i> -->
            </a>
            <!-- <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                    </li>
                </ul>
            </div> -->
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#productsList" aria-expanded="false"
                aria-controls="productsList">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>

            </a>
            <div class="collapse" id="productsList">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="products/index">
                            See Products
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="products/add">
                            Add Product
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#ordersList" aria-expanded="false"
                aria-controls="ordersList">
                <i class="mdi mdi-package menu-icon"></i>
                <span class="menu-title">Orders</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ordersList">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="orders/index">
                            See All Orders
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#ratingsList" aria-expanded="false"
                aria-controls="ratingsList">
                <i class="mdi mdi-star menu-icon"></i>
                <span class="menu-title">Ratings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ratingsList">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="ratings/index">
                            See All Ratings
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#dealsList" aria-expanded="false"
                aria-controls="dealsList">
                <i class="mdi mdi-shopping menu-icon"></i>
                <span class="menu-title">Deals</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="dealsList">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="deals/index">
                            See All Deals
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="deals/add">
                            Add New Deal
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>