<div class="sidebar-box-2">
    <h2 class="heading mb-4"><a href="#">Sorts</a></h2>
    <ul>
        <li>
            <label for="display">Display Options</label> <br>
            <select class="form-control-sm" (input)="'getDisplayOption'($event.target.value)">
                <option value="grid">Grid</option>
                <option value="list">List</option>
            </select>
        </li>
        <li>
            <label for="filter">Filter Products</label> <br>
            <select class="form-control-sm" (input)="getFilterOption($event.target.value)">
                <option value="new">Newest First</option>
                <option value="purchased">Most Purchased</option>
                <option value="viewed">Most Viewed</option>
                <option value="high">Price (High to Low)</option>
                <option value="low">Price (Low to High)</option>
            </select>
        </li>
    </ul>
</div>