<div class="content-wrapper">
    <div class="row mt-4">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update a Specific Deal</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-4 alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{error}}</strong>
                            </div>
                            <div class="mb-4 alert alert-success alert-dismissible fade show" role="alert"
                                *ngIf="success">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{success}}</strong>
                            </div>
                        </div>
                    </div>
                    <form class="form-sample" [formGroup]="updateDeal" (ngSubmit)="onSubmit()">
                        <p class="card-description">
                            Fill up all the product related details carefully
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Deal Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" formControlName="name" />
                                        <span class="text-danger"
                                            *ngFor="let validation of dealsValidationMessages.name">
                                            <span class="text-danger"
                                                *ngIf="updateDeal.get('name').hasError(validation.type) && (updateDeal.get('name').dirty || updateDeal.get('name').touched)">
                                                {{validation.message}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select Product</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" formControlName="productId" placeholder="something"
                                            required>
                                            <option *ngFor="let product of products" value="{{ product.id }}">
                                                {{ product.name }}</option>
                                        </select>
                                        <span class="text-danger"
                                            *ngFor="let validation of dealsValidationMessages.productId">
                                            <span class="text-danger"
                                                *ngIf="updateDeal.get('productId').hasError(validation.type) && (updateDeal.get('productId').dirty || updateDeal.get('productId').touched)">
                                                {{validation.message}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Start Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" formControlName="startDate">
                                        <span class="text-danger"
                                            *ngFor="let validation of dealsValidationMessages.startDate">
                                            <span class="text-danger"
                                                *ngIf="updateDeal.get('startDate').hasError(validation.type) && (updateDeal.get('startDate').dirty || updateDeal.get('startDate').touched)">
                                                {{validation.message}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">End Date</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="date" formControlName="endDate" />
                                        <span class="text-danger"
                                            *ngFor="let validation of dealsValidationMessages.endDate">
                                            <span class="text-danger"
                                                *ngIf="updateDeal.get('endDate').hasError(validation.type) && (updateDeal.get('endDate').dirty || updateDeal.get('endDate').touched)">
                                                {{validation.message}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Discount</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" formControlName="discount" />
                                        <span class="text-danger"
                                            *ngFor="let validation of dealsValidationMessages.discount">
                                            <span class="text-danger"
                                                *ngIf="updateDeal.get('discount').hasError(validation.type) && (updateDeal.get('discount').dirty || updateDeal.get('discount').touched)">
                                                {{validation.message}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!updateDeal.valid" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>